body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 50%;
    margin: 60px;
    padding: 20px;
    position: relative;
}
h1{
    color: var(--title-color);
}
h1 span{
    height: inherit;
    width: inherit;
    padding-bottom: 4px;
    border: solid 2px transparent;
    border-bottom-color: var(--title-color);
}
input{
    font-weight: 600;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    color: rgb(36, 36, 36);
    outline: transparent;
    padding: 15px;
    display: block;
    margin-top: 15px;
}
input::placeholder{
    /* color: rgba(255, 255, 255, 0.829); */
    color: rgb(68, 68, 68);
}
input:hover{
    background: rgba(222, 184, 135, 0.137);
}
.buttonGo{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 25%;
    height: 35px;
    border: solid 0px transparent;
    border-radius: 20px;
    background: var(--title-color);
    font-weight: 900;
    color: #444;
}
.buttonGo:hover{
    background: rgba(222, 184, 135, 0.473);
}